extends layout

block content
  .page-alerts
    .alert.alert-warning.page-alert#preexistinghost
      strong Hey!
        | There's already a host in the room. Better wait your turn :)
  .page-alerts
    .alert.alert-warning.page-alert#notenoughplayers
      strong Hey!
        | There's not enough players to start a game yet!
  .page-alerts
    .alert.alert-warning.page-alert#roomdoesnotexist
      strong Hey!
        | You need a host to start a room before you can play. Are you connected to wifi?
  .page-alerts
    .alert.alert-warning.page-alert#nolocation
      strong
        | Please wait while we find your location...
  .site-wrapper#index
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            ul.nav.masthead-nav
              li.active
                a(href="/") Home
              li
                a(href="#") About
              li
                a(href="https://github.com/MyNameIsKir/iSpar") Github
          .inner.cover
            h1.cover-heading.big-cover-heading iSpar
            p.lead
              button.btn.btn-lg.btn-default(data-toggle='modal', data-target='#howToPlay') How to Play
            p.lead.mobile-player
              button.btn.btn-lg.btn-default#player-connect(href="#") Connect
            p.lead.computer-host
              button.btn.btn-lg.btn-default#host-connect(href="#") Connect as Host
        .mastfoot
          .inner

  .site-wrapper-inner#playerlist
    .cover-container
      p#waitmessage Waiting for players to connect...
      .well
        table.table
          thead
            tr
              th(style='width: 100px;')
              th Player
              th Status
          tbody#players
      .inner.cover#gamecontrols
        p.lead
          button.btn.btn-lg.btn-default#gamestart Start
          button.btn.btn-lg.btn-default#gamereset Reset

  .site-wrapper#playerinterface
    #eliminated
      hi#eliminatedx X
    .inner.cover#playername
      h1.cover-heading.big-cover-heading#playerid Player


  //
     How to Play Modal
  #howToPlay.modal.fade(tabindex='-1', role='dialog', aria-labelledby='howToPlayLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4#howToPlayLabel.modal-title How To Play
        .modal-body
          | Coming Soon!
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal') Close